

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Simple example Angular 4</span>
    </div>
    <!-- Tabs -->
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">      
      <a 
      [ngClass]="router.url=='/home' || router.url=='/' ? 'mdl-layout__tab is-active' : 'mdl-layout__tab'"
      routerLink="/" routerLinkActive="is-active">
          Welcome
      </a>
      <a 
      [ngClass]="router.url=='/list' ? 'mdl-layout__tab is-active' : 'mdl-layout__tab'"
      routerLink="/list" routerLinkActive="active">
        List
      </a>
    </div>
  </header>
  
  <main class="mdl-layout__content">
    <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
      <div class="page-content">

        <router-outlet></router-outlet>

      </div>
    </section>
  </main>
</div>