
<ul class="demo-list-two mdl-list">
  <li class="mdl-list__item" *ngFor="let item of items; let i = index">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-icon">person</i>
      {{item.name}} <br>
      {{item.lastName}}
    </span>

    <button class="mdl-button mdl-js-button mdl-button--primary" routerLink="/add-item/{{item._id}}">
        <i class="material-icons">mode_edit</i> 
      Edit
    </button>
    <button class="mdl-button mdl-js-button mdl-button--accent" (click)="delete(i, item._id);">
      <i class="material-icons">delete</i> 
      Delete
    </button>
  </li>
</ul>

<button id="tt1" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored btnloat" (click)="add();">
  <i class="material-icons">add</i>
</button>
<div class="mdl-tooltip mdl-tooltip--large mdl-tooltip--left" data-mdl-for="tt1">
  Add item
</div>

<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer__middle-section">
  </div>
</footer>